@import "../definitions.less";

.page-header.navbar .page-logo .logo-default {
	margin: 0 0 0 0;
}

.form-horizontal {
	.form-group {
		& > div {
			padding-left: 0px;
		}
	}
}
.form-group {
	.noUi-control {
		margin-left: 24px;
		margin-right: 24px;
		&.hasPips {
			margin-top: 25px;
		}
	}
}