services:
	- {class: App\ExchangeHelper, inject: yes}

extensions:
	exchangeExtension: h4kuna\Exchange\Nette\ExchangeExtension

exchangeExtension:
	driver: h4kuna\Exchange\Driver\Ecb\Day
	currencies: {
		eur: [decimal: 2, point: ',', thousand: ' ', mask: '1 S', symbol: '€']
		czk: [decimal: 2, point: ',', thousand: ' ', mask: '1 S', symbol: 'Kč'] 
	}