services:
	- {class: App\ExchangeHelper, inject: yes}

extensions:
	exchangeExtension: h4kuna\Exchange\Nette\DI\ExchangeExtension

exchangeExtension:
	driver: h4kuna\Exchange\Driver\BankRates
	currencies: {
		eur: [decimal: 2, point: ',', thousand: ' ', mask: '1 S', symbol: '€']
		czk: [decimal: 2, point: ',', thousand: ' ', mask: '1 S', symbol: 'Kč'] 
		pln: [decimal: 2, point: ',', thousand: ' ', mask: '1 S', symbol: 'zł']
	}
	vat: 0
	vatIn: false
	vatOut: false