extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

	# behaviors https://github.com/Zenify/DoctrineBehaviors#translatable
	translatable: Zenify\DoctrineBehaviors\DI\TranslatableExtension

events:
    debugger: off

doctrine:
	resultCache: Kdyby\DoctrineCache\Cache
