extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	doctrine2identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension
	# behaviors https://github.com/Zenify/DoctrineBehaviors#translatable
	translatable: Zenify\DoctrineBehaviors\DI\TranslatableExtension

events:
    debugger: on