<div class="row" data-gutter="15">
	{form form data-target-loading=>"#mainContainer", data-target-move=>"#snippet-products-productList"}
		{? $form->render('begin')}
		<div
				n:foreach="$form->getComponents() as $name => $component"
				n:if="$component instanceof Nette\Forms\Controls\SelectBox"
				class="col-md-4 select-block">
			{label $form[$name] class => 'category-selections-sign'/}
			{input $form[$name]}
		</div>
		{? $form->render('end')}
	{/form}
</div>
