subtitle:
	page1: 'Vsetko pre'
	page2: 'Bezkonkurencny'
	page3: 'Aj pozarucny'
	page4: 'Získajte odmeny'
	page5: 'Nakupujte vo velkom'
	page6: 'Všetko o nás'
headline:
	page1: 'Môj telefon'
	page2: 'Výkup'
	page3: 'Servis'
	page4: 'Vernostný program'
	page5: 'Velkoobchod'
	page6: 'Kontakt'
brand:
	top: 'Top značky'
	more: 'Ďalšie značky'
	searched: 'Najčastejšie hladané'