subtitle:
	page1: 'Všetko pre'
	page2: 'Bezkonkurenčný'
	page3: 'Aj pozáručný'
	page4: 'Vernostný program'
	page5: 'Nakupujte vo veľkom'
	page6: 'Všetko o nás'
headline:
	page1: 'Môj telefón'
	page2: 'Výkup'
	page3: 'Servis'
	page4: 'Odmeny'
	page5: 'Veľkoobchod'
	page6: 'Kontakt'
brand:
	top: 'Top značky'
	more: 'Ďalšie značky'
	searched: 'Najčastejšie hladané'