subtitle:
	page1: 'All for'
	page2: 'Unbeatable'
	page3: 'Even warantly'
	page4: 'Earn rewards'
	page5: 'Buy in bulk'
	page6: 'All for'
headline:
	page1: 'My Phone'
	page2: 'Buyout'
	page3: 'Service'
	page4: 'Bonus Program'
	page5: 'Dealer'
	page6: 'Contact'
brand:
	top: 'Top brands'
	more: 'More brands'
	searched: 'Most searched'