subtitle:
	page1: 'Vše pro'
	page2: 'Bezkonkurenční'
	page3: 'I pozáruční'
	page4: 'Získejte odměny'
	page5: 'Nakupujte ve velkém'
	page6: 'Vše o nás'
headline:
	page1: 'Můj telefon'
	page2: 'Výkup telefonů'
	page3: 'Servis telefonů'
	page4: 'Věrnostní program'
	page5: 'Velkoobchod'
	page6: 'Kontakt'
brand:
	top: 'Top značky'
	more: 'Další značky'
	searched: 'Nejčastěji hledané'