<!DOCTYPE html>
<!--[if IE 8]> <html lang="{$lang}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="{$lang}" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{$lang}">
	<!--<![endif]-->
	{includeblock '../../BaseModule/templates/metronic.defines.latte'}

	<!-- BEGIN HEAD -->
	<head>
		<title>{block title|striptags}{$pageInfo->projectName}{/block}</title>

		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta name="robots" content="noindex,nofollow">
		<meta content="" name="description"/>
		<meta content="" name="author"/>

		{include cssMetronicCore}
		{include cssMetronicAdminTheme}

		{control cssDemo}
		{control cssPrint}

		<link href="{$basePath}/favicon.ico" rel="shortcut icon">

		{block head}{/block}
	</head>
	<!-- END HEAD -->

	<!-- BEGIN BODY -->
	<body class="{block bodyClass}{/block}">
		<script> document.documentElement.className += ' js'</script>

		{*
		<!-- BEGIN TOAST MESSAGES-->
		<div n:foreach="$flashes as $flash"
			 class="flash toast-ready hidden"
			 data-type="{$flash->type}">
			{$flash->message}
		</div>
		<!-- END TOAST MESSAGES-->
		*}
		
		<div class="wrapper">

			{block layout}
			<div class="logo">
				<a n:href="Homepage:">
					<img src="{$basePath}/assets/admin/img/logo.png" alt=""/>
				</a>
			</div>
				
			<!-- BEGIN FLASH MESSAGES-->
			<div class="container">
				<div n:foreach="$flashes as $flash"
					 class="alert alert-{$flash->type} fade in">
					<button type="button" class="close" data-dismiss="alert"></button>
					{$flash->message}
				</div>
			</div>
			<!-- END FLASH MESSAGES-->
			
			<div class="content">
				{include #content}
			</div>
			{/block}

			<div class="copyright">
				 2014 &copy; {$pageInfo->projectName} {_'by Mediahost'}.
			</div>
		
		</div>

		{block scripts}
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		{include jsMetronicCore}
		{include jsAdminApp}
		<!-- END JAVASCRIPTS -->
		{/block}
	</body>
</html>
