<!DOCTYPE html>
<html lang="{$locale}">
{includeblock '../../BaseModule/templates/metronic.defines.latte'}

<!-- BEGIN HEAD -->
<head>
	<title>{ifset $pageTitle}{$pageTitle} | {/ifset}{block title|striptags}{$pageInfo->projectName}{/block}</title>
	<meta http-equiv="encoding" charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="{$pageDescription|striptags}"/>
	<meta name="keywords" content="{$pageKeywords}">
	<meta name="author" content="{$pageInfo->author}"/>

	<meta name="robots" content="index,follow">
	<meta n:ifset="$googleSiteVerification" name="google-site-verification" content="{$googleSiteVerification}">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{$pageInfo->projectName}">
	<meta property="og:title" content="{include title}">
	<meta property="og:description" content="{$pageDescription|striptags}">
	<meta property="og:image" content="{link //Homepage:}favicon.png">
	<meta property="og:url" content="{link //this}">

	<link href="{$basePath}/favicon.ico" rel="shortcut icon">

	{include cssBox}

	{control cssFront2}
	{control cssPrint}

	{block head}{/block}
</head>
<!-- END HEAD -->

<body class="{block bodyClass}{/block}">

<div class="global-wrapper clearfix" id="global-wrapper">

	{include 'topbar.latte'}
	{snippetArea header}
		{include 'header.latte'}
	{/snippetArea}

	<!-- BEGIN FLASH MESSAGES-->
	<div class="container" n:snippet="flashMessages">
		<div n:foreach="$flashes as $flash"
				class="alert alert-{$flash->type} fade in">
			{$flash->message}
		</div>
	</div>
	<!-- END FLASH MESSAGES-->

	<div class="container" id="mainContainer">
		<div class="side-banner-left">
			<a n:href="Buyout:">
				<img src="{$basePath}/images/banners/side1.png" alt="{_'side banner'}"/>
			</a>
		</div>
		<div class="side-banner-right">
			<a n:href="Service:">
				<img src="{$basePath}/images/banners/side2.png" alt="{_'side banner'}"/>
			</a>
		</div>

		<!-- BEGIN BREADCRUMBS -->
		<header class="page-header" n:block="breadcrumb">
			<ol class="breadcrumb page-breadcrumb">
				<li><a n:href=":Front:Homepage:">{$pageInfo->projectName}</a></li>
				{block breadcrumbItems}{/block}
			</ol>
		</header>
		<!-- END BREADCRUMBS -->

		<!-- BEGIN CONTENT -->
		{include content}
		<!-- END CONTENT -->

	</div>
	<div class="gap gap-small"></div>

	{include 'footer.latte'}
</div>

{block scripts}
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	{include jsBoxCore}
	{include jsFrontApp2}
	{block pageJavascript}{/block}
	<!-- END JAVASCRIPTS -->
{/block}
</body>
</html>