{var $robots = noindex}

{block content}
	<div class="col-md-12 col-sm-12">
		<div class="content-page page-404">
			<div class="number">
				405
			</div>
			<div class="details">
				<h3>{_'Method Not Allowed'}</h3>
				<p>
					{_'The requested method is not allowed for the URL.'}<br/>
					<a n:href="Homepage:" class="link">{_'Return home'}</a>
				</p>
			</div>
		</div>
	</div>
{/block}

{block title}
	{_'Method Not Allowed'}
{/block}

{block breadcrumb}{/block}

