<!DOCTYPE html>
<!--[if IE 8]> <html lang="{$lang}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="{$lang}" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{$lang}">
	<!--<![endif]-->
	{includeblock '../metronic.defines.latte'}

	<!-- BEGIN HEAD -->
	<head>
		<title>{block title}{_'Error'}{/block}</title>

		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta name="robots" content="noindex,nofollow">
		<meta content="" name="description"/>
		<meta content="" name="author"/>

		{include cssAdminFonts}
		{include cssMetronicCore}
		{include cssMetronicPlugins}
		{include cssMetronicGlobalTheme}
		{include cssMetronicAdminTheme}

		{control cssFront}
		{control cssPrint}

		<link href="{$basePath}/favicon.ico" rel="shortcut icon">

		{block head}{/block}
	</head>
	<!-- END HEAD -->

	<!-- BEGIN BODY -->
	<body class="{block bodyClass}{/block}">
		
		{include #content}

		{block scripts}
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		{include jsMetronicCore}
		{include jsMetronicPlugins}
		{include jsAdminApp}
		<!-- END JAVASCRIPTS -->
		{/block}
	</body>
</html>
