product:
	onlyCountOnStore: 'We have only %count% pc on store.|We have only %count% pcs on store.'
	alreadyInBasket: 'You have already %count% pc in basket.|You have already %count% pcs in basket.'
	youCanAddOnly: 'You can add only %count% pc to basket.|You can add only %count% pcs to basket.'
	youCannotAdd: 'You cannot add next.'
	reachedMaxCount: 'You have all available products in your basket.'

order:
	wasntFoundWasExecuted: 'Requested order was already executed'

form:
	name: 'Name and surname (Company name)'
	nameOnly: 'Name and surname'
	street: 'Street'
	city: 'City'
	country: 'Country'
	zipcode: 'zipcode'
	mail: 'E-mail'
	phone: 'Phone'
	ico: 'Company ID'
	icoVat: 'IČO DPH'
	dic: 'Taxpayer ID'
	billing: 'Invoice address'
	shipping: 'Delivery address'
	company: 'Company'
	inputInvoice: 'I want to fill invoice address'
	sameDelivery: "Delivery address isn't same as invoice address"
	isCompany: 'I want insert company data (VAT ID, etc.)'
	newsletter: 'I want to receive special discounts and newsletters'
	validator:
		filled: 'This field is required'
		mail: 'Fill the right format'

flash:
	noPayments: 'Select your shipping and payment.'

youCanSign: 'You can <a data-toggle="modal" href="%link%">sign in</a> for better filling data.'

shoppingCart: 'Shopping cart'
cart: 'Cart'
shippingPayment: 'Shipping & Payment'
shipping: 'Shipping'
payment: 'Payment'
selectShipping: 'Select Shipping Option'
selectPayment: 'Select Payment Option'
shippingAndPaymentRequired: 'Select shipping and payment options'
paymentsTotal: 'Shipping and Payment Price'
address: 'Address'
summary: 'Summary'
free: 'Free'

continue: 'Continue'
back: 'Back'
send: 'Send'

name: 'Name'
quantity: 'Quantity'
unitPrice: 'Unit price'
total: 'Total'
unitPriceVat: 'Unit price with VAT'
totalVat: 'Total with VAT'
totalWithoutVat: 'Total without VAT'
withoutVat: 'Without VAT'
vat: 'VAT'
inStore: 'In Store'
inStoreOnly: 'In Store only'
countInStore: '%count% %unit% in store'
notInStore: "Product isn't in store. You cannot finish order with this product."
mustChangeInStore: 'Decrease product count in basket.'
queueBeforeYou: 'In the queue for your goods was somebody in front of you!'
queueBeforeYouSorry: 'Sorry, but while you are buying someone else bought the goods for which you were interested.'

isEmpty: 'Cart is empty'
countItem: '%count% item|%count% items'
yourCartIsEmpty: 'Your shopping cart is empty'
continueShopping: 'Continue shopping'
