product:
	added: 'Přidáno do košíku'
	onlyCountOnStore: 'Skladem je pouze %count% kus.|Skladem jsou pouze %count% kusy.|Skladem je pouze %count% kusů.'
	alreadyInBasket: 'V košíku je již %count% kus.|V košíku jsou již %count% kusy.|V košíku je již %count% kusů.'
	youCanAddOnly: 'Můžete přidat pouze %count% kus.|Můžete přidat pouze %count% kusy.|Můžete přidat pouze %count% kusů.'
	youCannotAdd: 'Nelze přidat další.'
	reachedMaxCount: 'Všechny dostupné kusy jsou již v košíku.'

order:
	wasntFoundWasExecuted: 'Požadovaná objednávka již byla vyřízena.'
	invoiceAddress: 'Fakturační adresa'
	shippingAddress: 'Dodací adresa'
	personal: 'K vyzvednutí osobně'
	contact: 'Kontaktní údaje'

form:
	name: 'Jméno a příjmení (název firmy)'
	nameOnly: 'Jméno a příjmení'
	street: 'Ulice a č.p.'
	city: 'Město'
	country: 'Země'
	zipcode: 'PSČ'
	mail: 'E-mail'
	phone: 'Telefon'
	ico: 'IČO'
	icoVat: 'IČO DPH'
	dic: 'DIČ'
	note: 'Poznámka'
	noteDescript: 'Místo pro doplňující informace'
	billing: 'Fakturační údaje'
	shipping: 'Dodací údaje'
	company: 'Firemní údaje'
	inputInvoice: 'Chci doplnit fakturační údaje'
	sameDelivery: 'Doručit na jinou adresu, než fakturační'
	isCompany: 'Chci zadat firemní údaje (IČO a DIČ)'
	newsletter: 'Mám zájem o akční nabídky a novinky na e-mail'
	dealer: 'Mám zájem stát se přeprodejcem'
	account: 'Váš účet'
	validator:
		filled: 'Povinné pole'
		mail: 'Zadejte správný formát'
		company: 'Nejsou vyplněny všechny firemní údaje'
		dealer: 'Aby jste se mohli stát přeprodejcem, je nutné vyplnit všechny firemní údaje.'
		shippingAndPaymentRequired: 'Zvolte způsob dopravy a platby'

navigation:
	cart: 'Košík'
	payments: 'Doprava a platba'
	address: 'Dodací údaje'
	summary: 'Souhrn'

headline:
	summary: 'Souhrn objednávky'
	summaryNumber: 'Souhrn objednávky č. %number%'
	selectShipping: 'Zvolte dopravu'
	selectPayment: 'Zvolte platbu'
	freeShipping: 'Možnost dopravy zdarma'

youCanSign: 'Můžete se <a data-toggle="modal" href="%link%">přihlásit</a>, urychlíte si vyplnění údajů.'
agreement: 'Při pokračování v nákupu souhlasíte s <a href="%link%" target="_blank">obchodními podmínkami</a>.'
buyMore: 'Nakupte ještě za %value% a dopravné bude zdarma.'
buySpecialMore: 'Nebo nakupte ještě za %value% v těchto kategoriích: %categories% a dopravné bude také zadarmo.'

shipping: 'Doprava'
payment: 'Platba'
paymentsTotal: 'Cena dopravy a platby'
free: 'Zdarma'

continue: 'Pokračovat'
back: 'Zpět'
send: 'Odeslat'
finish: 'Dokončit objednávku'

name: 'Zboží'
code: 'Kód'
quantity: 'Množství'
unitPrice: 'Jedn. cena'
total: 'Celkem'
unitPriceVat: 'Jedn. cena s DPH'
totalVat: 'Celkem s DPH'
totalWithoutVat: 'Celkem bez DPH'
withoutVat: 'Bez DPH'
vat: 'DPH'
inStore: 'Skladem'
inStoreOnly: 'Skladem pouze'
countInStore: '%count% %unit% skladem'
notInStore: 'Produkt již není skladem. S tímto produktem nelze dokončit objednávku.'
mustChangeInStore: 'Snižte počet kusů v košíku.'
queueBeforeYou: 'Ve frontě na vaše zboží byl někdo před vámi!'
queueBeforeYouSorry: 'Omlouváme se, ale během vašeho nákupu někdo jiný koupil zboží, o které jste měli zájem.'

isEmpty: 'Zatím prázdný'
countItem: '%count% položka|%count% položky|%count% položek'
yourCartIsEmpty: 'Nákupní košík je zcela prázdný'
continueShopping: 'Pokračovat v nákupu'
orderWasSend: 'Vaše objednávka byla právě odeslána.'
moreInfoInMail: 'Další informace očekávejte v e-mailu.'
