product:
	onlyCountOnStore: 'Skladem je pouze %count% kus.|Skladem jsou pouze %count% kusy.|Skladem je pouze %count% kusů.'
	alreadyInBasket: 'V košíku je již %count% kus.|V košíku jsou již %count% kusy.|V košíku je již %count% kusů.'
	youCanAddOnly: 'Můžete přidat pouze %count% kus.|Můžete přidat pouze %count% kusy.|Můžete přidat pouze %count% kusů.'
	youCannotAdd: 'Nelze přidat další.'
	reachedMaxCount: 'Všechny dostupné kusy jsou již v košíku.'

order:
	wasntFoundWasExecuted: 'Požadovaná objednávka již byla vyřízena.'

form:
	name: 'Jméno a příjmení'
	street: 'Ulice a č.p.'
	city: 'Město'
	country: 'Země'
	zipcode: 'PSČ'
	mail: 'E-mail'
	phone: 'Telefon'
	ico: 'IČO'
	icoVat: 'IČO DPH'
	dic: 'DIČ'
	billing: 'Fakturační údaje'
	shipping: 'Dodací údaje'
	company: 'Firemní údaje'
	sameDelivery: 'Doručit na jinou adresu, než fakturační'
	isCompany: 'Chci zadat firemní údaje (IČO a DIČ)'
	newsletter: 'Mám zájem o akční nabídky a novinky na e-mail'
	validator:
		filled: 'Povinné pole'
		mail: 'Zadejte správný formát'

flash:
	noPayments: 'Zvolte si vaši dopravu i platbu.'

shoppingCart: 'Nákupní košík'
cart: 'Košík'
shippingPayment: 'Doprava a platba'
shipping: 'Doprava'
payment: 'Platba'
selectShipping: 'Zvolte dopravu'
selectPayment: 'Zvolte platbu'
shippingAndPaymentRequired: 'Zvolte způsob dopravy a platby'
paymentsTotal: 'Cena dopravy a platby'
address: 'Dodací údaje'
summary: 'Souhrn'
free: 'Zdarma'

continue: 'Pokračovat'
back: 'Zpět'
send: 'Odeslat'

name: 'Zboží'
quantity: 'Množství'
unitPrice: 'Jedn. cena'
total: 'Celkem'
unitPriceVat: 'Jedn. cena s DPH'
totalVat: 'Celkem s DPH'
totalWithoutVat: 'Celkem bez DPH'
withoutVat: 'Bez DPH'
vat: 'DPH'
inStore: 'Skladem'

isEmpty: 'Zatím prázdný'
countItem: '%count% položka|%count% položky|%count% položek'
yourCartIsEmpty: 'Nákupní košík je zcela prázdný'
continueShopping: 'Pokračovat v nákupu'
