product:
	added: 'Added to cart'
	onlyCountOnStore: 'We have only %count% pc on store.|We have only %count% pcs on store.'
	alreadyInBasket: 'You have already %count% pc in basket.|You have already %count% pcs in basket.'
	youCanAddOnly: 'You can add only %count% pc to basket.|You can add only %count% pcs to basket.'
	youCannotAdd: 'You cannot add next.'
	reachedMaxCount: 'You have all available products in your basket.'

order:
	wasntFoundWasExecuted: 'Requested order was already executed'
	invoiceAddress: 'Invoice Address'
	shippingAddress: 'Shipping Address'
	personal: 'To pick up personally'
	contact: 'Contact'

form:
	name: 'Name and surname (Company name)'
	nameOnly: 'Name and surname'
	address: 'Address'
	street: 'Street'
	city: 'City'
	country: 'Country'
	zipcode: 'Zipcode'
	mail: 'E-mail'
	phone: 'Phone'
	ico: 'Company ID'
	icoVat: 'IČO DPH'
	dic: 'Taxpayer ID'
	note: 'Note'
	noteDescript: 'Place for additional information'
	billing: 'Invoice address'
	shipping: 'Delivery address'
	company: 'Company'
	inputInvoice: 'I want to fill invoice address'
	sameDelivery: "Delivery address isn't same as invoice address"
	isCompany: 'I want insert company data (VAT ID, etc.)'
	newsletter: 'I want to receive special discounts and newsletters'
	dealer: 'I want to be a dealer'
	account: 'Your account'
	validator:
		filled: 'This field is required'
		mail: 'Fill the right format'
		company: 'You must complete all company information'
		dealer: 'Fill all company information to be a dealer.'
		shippingAndPaymentRequired: 'Select shipping and payment options'

navigation:
	cart: 'Cart'
	payments: 'Shipping & Payment'
	address: 'Address'
	summary: 'Summary'

headline:
	summary: 'Order Summary'
	summaryNumber: 'Order #%number%'
	selectShipping: 'Select Shipping Option'
	selectPayment: 'Select Payment Option'
	freeShipping: 'The possibility of free shipping'

youCanSign: 'You can <a data-toggle="modal" href="%link%">sign in</a> for better filling data.'
agreement: 'By clicking Complete Order you agree with our <a href="%link%" target="_blank">Terms & Conditions</a>.'
buyMore: 'Buy more for %value% and shipping will be free.'
buySpecialMore: 'Or buy more for %value% in the following categories: %categories% and shipping will also be free.'

shipping: 'Shipping'
payment: 'Payment'
paymentsTotal: 'Shipping and Payment Price'
free: 'Free'

continue: 'Continue'
back: 'Back'
send: 'Send'
finish: 'Complete Order'

name: 'Name'
code: 'Code'
quantity: 'Quantity'
unitPrice: 'Unit price'
total: 'Total'
unitPriceVat: 'Unit price with VAT'
totalVat: 'Total with VAT'
totalWithoutVat: 'Total without VAT'
withoutVat: 'Without VAT'
vat: 'VAT'
inStore: 'In Store'
inStoreOnly: 'In Store only'
countInStore: '%count% %unit% in store'
notInStore: "Product isn't in store. You cannot finish order with this product."
mustChangeInStore: 'Decrease product count in basket.'
queueBeforeYou: 'In the queue for your goods was somebody in front of you!'
queueBeforeYouSorry: 'Sorry, but while you are buying someone else bought the goods for which you were interested.'

isEmpty: 'Cart is empty'
countItem: '%count% item|%count% items'
yourCartIsEmpty: 'Your shopping cart is empty'
continueShopping: 'Continue shopping'
orderWasSend: 'Your order has just been sent.'
moreInfoInMail: 'You can expect more information in an e-mail.'

recovered: 'Basket was succesfully recovered.'
notFound: "Requested basket wasn't found."
