product:
	onlyCountOnStore: 'We have only %count% pc on store.|We have only %count% pcs on store.'
	alreadyInBasket: 'You have already %count% pc in basket.|You have already %count% pcs in basket.'
	youCanAddOnly: 'You can add only %count% pc to basket.|You can add only %count% pcs to basket.'
	youCannotAdd: 'You cannot add next.'
	reachedMaxCount: 'You have all available products in your basket.'

order:
	wasntFoundWasExecuted: 'Requested order was already executed'

flash:
	noPayments: 'Select your shipping and payment.'

shoppingCart: 'Shopping cart'
cart: 'Cart'
shippingPayment: 'Shipping & Payment'
shipping: 'Shipping'
payment: 'Payment'
selectShipping: 'Select Shipping Option'
selectPayment: 'Select Payment Option'
shippingAndPaymentRequired: 'Select shipping and payment options'
paymentsTotal: 'Shipping and Payment Price'
address: 'Address'
summary: 'Summary'
free: 'Free'

continue: 'Continue'
back: 'Back'
send: 'Send'

name: 'Name'
quantity: 'Quantity'
unitPrice: 'Unit price'
total: 'Total'
unitPriceVat: 'Unit price with VAT'
totalVat: 'Total with VAT'
totalWithoutVat: 'Total without VAT'
withoutVat: 'Without VAT'
vat: 'VAT'
inStore: 'In Store'

isEmpty: 'Cart is empty'
countItem: '%count% item|%count% items'
yourCartIsEmpty: 'Your shopping cart is empty'
continueShopping: 'Continue shopping'
