product:
	added: 'Pridané do košíka'
	onlyCountOnStore: 'Skladom je len %count% kus.|Skladom sú iba %count% kusy.|Skladem sú iba %count% kusov.'
	alreadyInBasket: 'V košíku je už %count% kus.|V košíku sú už %count% kusy.|V košíku je už %count% kusov.'
	youCanAddOnly: 'Môžete pridať iba %count% kus.|Môžete pridať iba  %count% kusy.|Môžete pridať iba %count% kusovů.'
	youCannotAdd: 'Nemožno pridať ďalšie.'
	reachedMaxCount: 'Všetky dostupné kusy sú už v košíku.'

order:
	wasntFoundWasExecuted: 'Požadovaná objednávka už bola vybavená.'
	invoiceAddress: 'Fakturačná adresa'
	shippingAddress: 'Dodacia adresa'
	personal: 'K vyzdvihnutie osobne'
	contact: 'Kontaktné údaje'

voucher:
	code: 'Zľavový kód'
	insert: 'Vložiť'
	wasAdded: 'Zľava bola pridaná.'
	invalid: 'Zľavový kód nie je platný.'
	inactive: 'Zľava nie je momentálne aktívna.'
	alreadyInCart: 'Zľava je už vo vašom košíku.'
	higherThanProducts: 'Zľava je vyššia ako suma za vaše produkty a nemožno ju použiť.'
	sumIsHigherThanProducts: 'Celková zľava je vyššia ako suma za vaše produkty a nemožno ju použiť.'
	notAllowed: 'Táto zľava nie je povolená.'

form:
	name: 'Meno a priezvisko (názov firmy)'
	nameOnly: 'Meno a priezvisko'
	address: 'Adresa'
	street: 'Ulica a č.p.'
	city: 'Mesto'
	country: 'Krajina'
	zipcode: 'PSČ'
	mail: 'E-mail'
	phone: 'Telefón'
	ico: 'IČO'
	icoVat: 'IČ-DPH'
	dic: 'DIČ'
	note: 'Poznámka'
	noteDescript: 'Miesto pre doplňujúce informácie'
	billing: 'Fakturačné údaje'
	shipping: 'Dodacie údaje'
	company: 'Firemné údaje'
	inputInvoice: 'Chcem doplniť fakturačné údaje'
	sameDelivery: 'Doručiť na inú adresu, ako fakturačnú'
	isCompany: 'Chcem zadať firemné údaje (IČO a DIČ)'
	newsletter: 'Mám záujem o akčné ponuky a novinky na e-mail'
	dealer: 'Mám záujem stať sa dílerom'
	account: 'Váš účet'
	validator:
		filled: 'Povinné pole'
		mail: 'Zadajte správny formát'
		company: 'Nie sú vyplnené všetky firemné údaje'
		dealer: 'Aby ste sa mohli stať dílerom je nutné vyplniť všetky firemné údaje.'
		shippingAndPaymentRequired: 'Zvoľte spôsob dopravy a platby'

navigation:
	cart: 'Košík'
	payments: 'Doprava a platba'
	address: 'Dodacie údaje'
	summary: 'Súhrn'

headline:
	summary: 'Súhrn objednávky'
	summaryNumber: 'Súhrn objednávky č. %number%'
	selectShipping: 'Zvoľte dopravu'
	selectPayment: 'Zvoľte platbu'
	freeShipping: 'Možnosť dopravy zadarmo'

youCanSign: 'Môžete sa <a data-toggle="modal" href="%link%">prihlásiť</a>, urýchlite si vyplnenie údajov.'
agreement: 'Pri pokračovaní v nákupe súhlasíte s <a href="%link%" target="_blank">obchodnými podmienkami</a>.'
buyMore: 'Nakúpte ešte za %value% a dopravné bude zdarma.'
buySpecialMore: 'Alebo nakúpte ešte za %value% v týchto kategóriách: %categories% a dopravné bude tiež zadarmo.'

shipping: 'Doprava'
payment: 'Platba'
paymentsTotal: 'Cena dopravy a platby'
free: 'Zadarmo'

continue: 'Pokračovať'
back: 'Späť'
send: 'Odoslať'
finish: 'Dokončiť objednávku'
pay: 'Zaplatiť'

name: 'Tovar'
code: 'Kód'
quantity: 'Množstvo'
unitPrice: 'Jedn. cena'
total: 'K úhrade'
unitPriceVat: 'Jedn. cena s DPH'
totalVat: 'Celkom s DPH'
totalWithoutVat: 'Celkom bez DPH'
withoutVat: 'Bez DPH'
vat: 'DPH'
inStore: 'Skladom'
inStoreOnly: 'Skladom iba'
countInStore: '%count% %unit% skladom'
quantityRange: 'Skladom %d až %d'
wrongValue: 'Špatná hodnota'
notInStore: 'Produkt už nie je na sklade. S týmto produktom nemožno dokončiť objednávku.'
mustChangeInStore: 'Znížte počet kusov v košíku.'
queueBeforeYou: 'Vo fronte na váš tovar bol niekto pred vami!'
queueBeforeYouSorry: 'Ospravedlňujeme sa, ale počas vášho nákupu niekto iný kúpil tovar, o ktoré ste mali záujem.'
discount: 'Zľava'

isEmpty: 'Zatiaľ prázdny'
countItem: '%count% položka|%count% položky|%count% položek'
yourCartIsEmpty: 'Nákupný košík je úplne prázdny'
continueShopping: 'Pokračovať v nákupe'
orderWasSend: 'Vaša objednávka bola práve odoslaná.'
orderWasPayed: 'Vaša objednávka bola úspešne zaplatená.'
orderWasNotPayed: 'Vašu objednávku sa nepodarilo zaplatiť.'
moreInfoInMail: 'Ďalšie informácie očakávajte v e-mailu.'

recovered: 'Košík bol úspešne obnovený.'
notFound: 'Požadovaný košík nebol nájdený.'
