{layout '../../@layout.latte'}

{block content}
<table class="container content" align="left" width="100%">
	<tr>
		<td>
			<table class="row note">
				<tr>
					<td class="wrapper">
						<p>
							V Pohodě právě vznikl nový sklad s názvem '{$storageName}' u produktu s kódem '{$pohodaProductCode}'.
							Prosím o kontrolu, protože je možné, že vám díky této chybě nepůjde synchronizace produktů.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
