@import "../definitions.less";

body {
	background-image: url(@pathImages + "greyzz.png");
}

.global-wrapper {
	background-color: transparent;
}

.navbar-brand {
	padding: 0px;
	margin: 0px;
	margin-left: 0px !important;
	color: white !important;
	font-size: 35px;
	img {
		height: 58px;
		width: auto;
	}
}

@media (max-width: 768px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 15px !important;
	}
}

.navbar-main {
	background: #11304F;
}

.navbar-pad {
	z-index: 1001;
	.boxShadowNone()
}

.navbar-before {
	background: #000000;
}

#frm-search {
	.navbar-main-search-submit {
		border: none;
	}
	.tt-hint {
		.rounded(4px);
	}
	.tt-menu {
		width: 655px;
		border: none;
		top: 32px !important;
		.roundedAll(0px, 0px, 4px, 4px);
		.empty-message {
			padding: 10px;
		}
		.more-message {
			a {
				display: block;
				padding: 10px 10px 10px 80px;
				font-size: 13px;
			}
		}
		.tt-dataset-search {
			//height: 50px;
			.tt-suggestion {
				line-height: 23px;
				.image {
					img {
						//height: 50px;
					}
				}
			}
		}
	}
}

#snippet--flashMessages {
	:first-child {
		margin-top: 10px;
	}
	.alert {
		margin-bottom: 10px;
	}
}

@media (min-width: 992px) {
	.navbar {
		.rel {
			float: right;
		}
	}
}

header {
	&.page-header {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.social-icons {
	list-style: none;
	padding: 0px;
	li {
		float: left;
		display: inline;
		list-style: none;
		margin-right: 5px;
		&:hover {
			a {
				background-position: 0 -38px;
			}
		}
		a {
			width: 28px;
			height: 28px;
			display: block;
			background-position: 0 0;
			background-repeat: no-repeat;
			transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-webkit-transition: all 0.3s ease-in-out;
		}
		.facebook {
			background: url(@pathImagesGlobal + 'social/facebook.png') no-repeat;
		}
		.twitter {
			background: url(@pathImagesGlobal + 'social/twitter.png') no-repeat;
		}
	}
}

.no-border {
	border: none !important;
}

.display-none, .display-hide {
	display: none;
}

.static-info.align-reverse {
	.name, .value {
		text-align: right;
		font-size: 14px;
	}
	.value {
		font-weight: bold;
	}
}

.product-page-price {
	em {
		font-size: 20px;
		text-decoration: line-through;
		color: #b3b0b0;
	}
}

.product-page-cart {
	padding-right: 0px;
	.already-in-basket {
		padding-top: 5px;
		color: #727272;
		text-align: center;
	}
}

#snippet-addToCart-AddToCart {
	.alert {
		margin-top: 10px;
		width: 325px;
	}
}

.quantity-button {
	span {
		font-size: 10px;
		padding-left: 7	px;
	}
}

.product-availability {
	margin-top: -4px;
}

.product-watchdog, .product-recommend {
	padding-top: 5px;
}

.menu-basket-price {
	font-weight: 500;
	font-size: 17px;
	margin-top: 5px;
}

.service, .buyout {
	.blog-post-body {
		margin-bottom: 20px;
		p {
			line-height: 1.2em;
			margin-bottom: 0px;
		}
	}
	.product {
		margin-top: 15px;
		margin-bottom: 15px;
		&.line {
			padding-left: 50px;
		}
		.product-caption {
			width: inherit;
			margin-top: 30px;
			padding-right: 0px;
			&.model {
				margin-top: 30px;
				width: 144px;
			}
			.product-caption-title {
				height: 45px;
				margin: 0px;
			}
		}
	}
}

.buyout {
	.is-new-checker, .only-for-new {
		display: none;
	}
	table {
		th {
			width: 70%;
		}
		tfoot {
			background-color: #e9e9eb;
			color: green;
			th {
				line-height: 25px;
			}
			.price {
				font-size: 25px;
				text-align: right;
			}
		}
		margin-bottom: 20px;
	}
	.price-box {
		padding-top: 10px;
		padding-bottom: 20px;
		.text {
			line-height: 25px;
		}
		.price {
			text-align: right;
			color: green;
			font-size: 25px;
		}
	}
}

#categories {
	.main-category {
		.category-filters {
			display: none;
		}
		&.active {
			& > a {
				.dropdown-menu-category-icon {
					opacity: 1;
				}
			}
			.active {
				& > a {
					font-weight: bold;
				}
			}
		}
	}
}

.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	&.note-default {
		background-color: lightgray;
		border-color: #a0a0a0;
		//color: #333333;
	}
	&.note-primary {
		background-color: #5697d0;
		border-color: #2a7696;
		//color: #d8e3f2;
	}
	&.note-success {
		background-color: #eef7ea;
		border-color: #bbdba1;
		//color: #3c763d;
	}
	&.note-info {
		background-color: #eef7fb;
		border-color: #91d9e8;
		//color: #31708f;
	}
	&.note-warning {
		background-color: #fcf8e3;
		border-color: #f2cf87;
		//color: #8a6d3b;
	}
	&.note-danger {
		background-color: #f9f0f0;
		border-color: #dca7b0;
		//color: #a94442;
	}
}

/* Form */
form {
	.error-message {
		color: #a94442;
		padding: 4px;
	}
}

.input-mini {
	width: 45px !important;
}

.input-xsmall {
	width: 80px !important;
}

.input-small {
	width: 145px !important;
}

.input-medium {
	width: 240px !important;
}

.input-large {
	width: 320px !important;
}

.input-xlarge {
	width: 420px !important;
}

.input-inline {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.form-group .input-inline {
	margin-right: 5px;
}

.category-selections {
	.input-medium {
		width: 210px !important;
	}
}

/***
UI Loading
***/
.loading-message {
	display: inline-block;
	min-width: 125px;
	margin-left: -60px;
	padding: 10px;
	margin: 0 auto;
	color: #000 !important;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	&.loading-message-boxed {
		border: 1px solid #ddd;
		background-color: #eee;
		-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	}
	& > span {
		line-height: 20px;
		vertical-align: middle;
	}
}

.page-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 125px;
	margin-left: -60px;
	margin-top: -30px;
	padding: 7px;
	text-align: center;
	color: #333;
	font-size: 13px;
	border: 1px solid #ddd;
	background-color: #eee;
	vertical-align: middle;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	& > span {
		line-height: 20px;
		vertical-align: middle;
	}
}

.page-spinner-bar {
	position: fixed;
	z-index: 10051;
	width: 100px;
	top: 40%;
	left: 50%;
	margin-left: -55px;
	text-align: center;
	& > div {
		margin: 0 5px;
		width: 18px;
		height: 18px;
		background: #eee;
		border-radius: 100% !important;
		display: inline-block;
		-webkit-animation: bounceDelay 1.4s infinite ease-in-out;
		animation: bounceDelay 1.4s infinite ease-in-out;
		/* Prevent first frame from flickering when animation starts */
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

.block-spinner-bar {
	display: inline-block;
	width: 80px;
	text-align: center;
	& > div {
		margin: 0 2px;
		width: 15px;
		height: 15px;
		background: #64AED9;
		border-radius: 100% !important;
		display: inline-block;
		-webkit-animation: bounceDelay 1.4s infinite ease-in-out;
		animation: bounceDelay 1.4s infinite ease-in-out;
		/* Prevent first frame from flickering when animation starts */
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

.currency-menu {
	&.current {
		a {
			color: #91c6fc !important;
		}
	}
}

.langs-block {
	position: relative;
	margin-left: 30px !important;
	margin-right: 20px;
	.fa {
		margin-right: 0;
	}
	.current {
		img {
			padding-right: 5px;
		}
	}
	&:hover {
		.langs-block-others {
			display: block;
		}
	}
}
.langs-block-others-wrapper {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 99999;
}
.langs-block-others {
	padding: 10px 10px 2px;
	background: #F9F9F9;
	z-index: 9999;
	width: 110px;
	display: none;
	margin-top: 12px;
	border-top: solid 2px rgb(77, 77, 77);
	box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
	position: relative;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	&:after {
		top: -8px;
		width: 0;
		height: 0;
		left: 8px;
		z-index: 2;
		content: " ";
		display: block;
		position: absolute;
		border-bottom: 8px solid #fff;
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;
	}
	a {
		display: block;
		margin-bottom: 8px;
		img {
			padding-bottom: 2px;
			padding-right: 5px;
		}
	}
}