@import "../definitions.less";

.product-page-price {
	em {
		font-size: 20px;
		text-decoration: line-through;
		color: #b3b0b0;
	}
}
.product-page-cart {
	padding-right: 0px;
	.already-in-basket {
		padding-top: 5px;
		color: #727272;
		text-align: center;
	}
}

#snippet-addToCart-AddToCart {
	.alert {
		margin-top: 10px;
		width: 325px;
	}
}
.product-availability {
	margin-top: -4px;
}
.product-watchdog, .product-recommend {
	padding-top: 5px;
}