@import "../definitions.less";

.pagination {
	.disabled {
		cursor: not-allowed;
		background-color: #eee;
		border-color: #ddd;
		&:hover {
			background-color: #eee;
			border-color: #ddd;
		}
	}
}
.producers-list {
	.product {
		margin-bottom: 10px;
		.product-caption {
			margin-top: 30px;
			.product-caption-title {
				font-family: 'Roboto', Tahoma, Arial, helvetica, sans-serif;
			}
		}
	}
}

.category-filters {
	.category-filters-section {
		&.multi-headers {
			h3 {
				font-size: 15px;
				margin-bottom: 0px;
				label {
					margin-bottom: 0px;
				}
			}
			.checkbox {
				margin-top: 5px;
			}
		}
	}
}