@import "../definitions.less";

.pagination {
	.disabled {
		cursor: not-allowed;
		background-color: #eee;
		border-color: #ddd;
		&:hover {
			background-color: #eee;
			border-color: #ddd;
		}
	}
}

#snippet-products-productList {
	margin-bottom: 0px !important;
}

.product {
	.product-labels {
		& > li {
			&.new {
				background-color: #ec3835;
			}
			&.sale {
				background-color: #f5b529;
			}
			&.top {
				background-color: #66c36d;
			}
		}
		&.right {
			left: auto;
			right: -3px;
		}
	}
	.product-img-wrap {
		height: auto;
	}
	.product-caption {
		.product-caption-title {
			height: 60px;
		}
		.product-caption-price {
			margin-top: 8px;
			padding-right: 0px;
			.product-caption-price-new {
				margin-right: 5px;
			}
			.product-caption-price-old {
				margin-right: 0px;
				font-size: 15px;
			}
		}
		.product-caption-button {
			padding-left: 0px;
			padding-right: 0px;
		}
		.availability {
			text-align: center;
			padding-top: 15px;
			&.available {
				color: #398000;
			}
		}
		.add2cart {
			z-index: 5;
			&.disabled {
				pointer-events: auto;
				cursor: not-allowed !important;
			}
		}
	}
}

.accessories-filter {
	background-color: rgba(17, 48, 79, 0.13);
	margin-bottom: 15px;
	padding-bottom: 10px;
	h4 {
		padding: 10px 10px;
		color: #333;
		font-size: 15px;
	}
	.select-block {
		.category-selections-sign {
			left: auto;
			padding-left: 2px;
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.product {
		.product-img-wrap-single {
			height: 166px;
		}
		.product-caption {
			.add2cart {
				margin-top: 5px;
				width: 100%;
			}
		}
	}
}

@media (min-width: 768px) {
	.product {
		height: 365px;
	}
}

@media (min-width: 992px) {
	.product {
		height: 360px;
		.product-img-wrap-single {
			height: 192px;
		}
	}
}

@media (min-width: 1200px) {
	.product {
		height: 410px;
		.product-img-wrap-single {
			height: 242px;
		}
	}
}

.producers-list {
	margin-bottom: 15px !important;
	.product {
		height: auto;
		.product-caption {
			margin-top: 30px;
			.product-caption-title {
				font-family: 'Roboto', Tahoma, Arial, helvetica, sans-serif;
			}
		}
	}
}

.category-filters {
	margin-bottom: 10px;
	.category-filters-section {
		&.multi-headers {
			h3 {
				font-size: 15px;
				margin-bottom: 0px;
				label {
					margin-bottom: 0px;
				}
			}
			.checkbox {
				margin-top: 5px;
			}
		}
	}
}