# Components
# !!!must have "crete:" for components with events!!!

services:
	# Auth
	- {create: App\Components\Auth\ConnectManager, implement: App\Components\Auth\IConnectManagerFactory, inject: yes}
	- {create: App\Components\Auth\FacebookConnect, implement: App\Components\Auth\IFacebookConnectFactory, inject: yes}
	- {create: App\Components\Auth\TwitterConnect, implement: App\Components\Auth\ITwitterConnectFactory, inject: yes}
	- {create: App\Components\Auth\SignIn, implement: App\Components\Auth\ISignInFactory, inject: yes}
	- {create: App\Components\Auth\SignUp, implement: App\Components\Auth\ISignUpFactory, inject: yes}
	- {implement: App\Components\Auth\ISignOutFactory, inject: yes}
	- {create: App\Components\Auth\Forgotten, implement: App\Components\Auth\IForgottenFactory, inject: yes}
	- {create: App\Components\Auth\Recovery, implement: App\Components\Auth\IRecoveryFactory, inject: yes}
	- {create: App\Components\Auth\Required, implement: App\Components\Auth\IRequiredFactory, inject: yes}
	- {create: App\Components\Auth\SetPassword, implement: App\Components\Auth\ISetPasswordFactory, inject: yes}

	# User
	- {implement: App\Components\User\IUserBasicControlFactory, inject: yes}

	# Stock
	- {implement: App\Components\Product\IStockAddControlFactory, inject: yes}
	- {implement: App\Components\Product\IStockBasicControlFactory, inject: yes}
	- {implement: App\Components\Product\IStockPriceControlFactory, inject: yes}
	- {implement: App\Components\Product\IStockQuantityControlFactory, inject: yes}
	- {implement: App\Components\Product\IStockCategoryControlFactory, inject: yes}
	- {implement: App\Components\Product\IStockSeoControlFactory, inject: yes}
	- {implement: App\Components\Product\IStockImageControlFactory, inject: yes}

	# Group
	- {implement: App\Components\Group\Form\IGroupEditFactory, inject: yes}

	# Units
	- {implement: App\Components\Unit\Form\IUnitsEditFactory, inject: yes}

	# Rate
	- {implement: App\Components\Currency\Form\IRateFactory, inject: yes}

	# Example
	- {implement: App\Components\Example\Form\IExampleFormFactory, inject: yes}

	# Grids
	- {implement: App\Components\Grids\User\IUsersGridFactory, inject: yes}
	- {implement: App\Components\Grids\Product\IStocksGridFactory, inject: yes}
	- {implement: App\Components\Group\Grid\IGroupsGridFactory, inject: yes}
