extensions:
	onControlCreate: App\Extensions\ListenersGenericRegistration\DI\EventOnControlCreateCreateExtension
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	nextrasForms: Nextras\Forms\DI\FormsExtension

nette:
	latte:
		macros:
			- \Zeleznypa\Nette\Latte\Macros\FormMacros::install #Macro {button}
