services:
	- {class: App\Listeners\LoggedListener, tags: [kdyby.subscriber], inject: yes}
	- {class: App\Listeners\InstallerListener, tags: [kdyby.subscriber], inject: yes}
	- {class: App\Listeners\SignListener, tags: [kdyby.subscriber], inject: yes}
	# Entity Listeners
	- {class: App\Listeners\Model\Entity\ImageListener, inject: yes}
	- {class: App\Listeners\Model\Entity\RateListener, inject: yes}
	- {class: App\Listeners\Model\Entity\ProductListener, inject: yes}
	- {class: App\Listeners\Model\Entity\CategoryListener, inject: yes}
	- {class: App\Listeners\Model\Entity\PageListener, inject: yes}
	# Facade Listeners
	- {class: App\Listeners\Model\Facade\OrderListener, tags: [kdyby.subscriber], inject: yes}
	- {class: App\Listeners\Model\Facade\PohodaListener, tags: [kdyby.subscriber], inject: yes}
