services:
	- {implement: App\Mail\Messages\ICreateRegistrationMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\IForgottenMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\IVerificationMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\IBuyoutOurMessageFactory, inject: yes}
	- {implement: App\Mail\Messages\IBuyoutTheirMessageFactory, inject: yes}