services:
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	userCalllable: App\Model\Entity\UserCallable

	# Facades
	- {class: App\Model\Facade\RoleFacade, inject: yes}
	- {class: App\Model\Facade\UserFacade, inject: yes}
	- {class: App\Model\Facade\VatFacade, inject: yes}
	- {class: App\Model\Facade\UnitFacade, inject: yes}
	- {class: App\Model\Facade\CategoryFacade, inject: yes}
	- {class: App\Model\Facade\ProducerFacade, inject: yes}
	- {class: App\Model\Facade\StockFacade, inject: yes}
	- {class: App\Model\Facade\ProductFacade, inject: yes}
	- {class: App\Model\Facade\ParameterFacade, inject: yes}
	- {class: App\Model\Facade\GroupFacade, inject: yes}
	- {class: App\Model\Facade\PohodaFacade, inject: yes}
	- {class: App\Model\Facade\PageFacade, inject: yes}
	- {class: App\Model\Facade\UriFacade, inject: yes}
	- {class: App\Model\Facade\QuestionFacade, inject: yes}
	- {class: App\Model\Facade\BasketFacade, inject: yes}
	- {class: App\Model\Facade\NewsletterFacade, inject: yes}
	- {class: App\Model\Facade\OrderFacade, inject: yes}
	- {class: App\Model\Facade\SubscriberFacade, inject: yes}
	- {class: App\Model\Facade\LocaleFacade, inject: yes}
	- {class: App\Model\Facade\PaymentsFacade, inject: yes}
	- {class: App\Model\Facade\VoucherFacade, inject: yes}

	# Storages
	- {class: App\Model\Storage\SignUpStorage, inject: yes}

	# Events subscribers
	treeSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Tree\TreeSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\Tree\Node']
		tags: [kdyby.subscriber]
	sluggSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Sluggable\SluggableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\Sluggable\Sluggable']
		tags: [kdyby.subscriber]
	timestampSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Timestampable\TimestampableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\Timestampable\Timestampable']
		tags: [kdyby.subscriber]
	softDeletableSubscriber:
		class: Knp\DoctrineBehaviors\ORM\SoftDeletable\SoftDeletableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\SoftDeletable\SoftDeletable']
		tags: [kdyby.subscriber]
	blameableSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Blameable\BlameableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\Blameable\Blameable', @userCalllable, 'App\Model\Entity\User']
		tags: [kdyby.subscriber]
	loggableSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Loggable\LoggableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, ['Tracy\Debugger', 'log']]
		tags: [kdyby.subscriber]
