services:
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension

	# Facades
	- {class: App\Model\Facade\RoleFacade, inject: yes}
	- {class: App\Model\Facade\UserFacade, inject: yes}

	# Storages
	- {class: App\Model\Storage\SignUpStorage, inject: yes}

	# Events subscribers
	treeSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Tree\TreeSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\Tree\Node']
		tags: [kdyby.subscriber]
	sluggSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Sluggable\SluggableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\Sluggable\Sluggable']
		tags: [kdyby.subscriber]
	timestampSubscriber:
		class: Knp\DoctrineBehaviors\ORM\Timestampable\TimestampableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\Timestampable\Timestampable']
		tags: [kdyby.subscriber]
	softDeletableSubscriber:
		class: Knp\DoctrineBehaviors\ORM\SoftDeletable\SoftDeletableSubscriber
		arguments: [Knp\DoctrineBehaviors\Reflection\ClassAnalyzer(), FALSE, 'Knp\DoctrineBehaviors\Model\SoftDeletable\SoftDeletable']
		tags: [kdyby.subscriber]
