services:
	Permission:
		class: Nette\Security\Permission
		setup:
			# Roles
			- addRole('guest')
			- addRole('signed', 'guest')
			- addRole('user', 'signed')
			- addRole('dealer', 'user')
			- addRole('admin', 'dealer')
			- addRole('superadmin', 'admin')

			# Resources
			- addResource('myAccount')

			- addResource('buyout')
			- addResource('categories')
			- addResource('dashboard')
			- addResource('discounts')
			- addResource('examples')
			- addResource('groups')
			- addResource('orders')
			- addResource('pages')
			- addResource('parameters')
			- addResource('producers')
			- addResource('products')
			- addResource('profile')
			- addResource('question')
			- addResource('signs')
			- addResource('service')
			- addResource('settings')
			- addResource('users')

			# Privilegies
			- deny('guest')

			- allow('signed', 'profile', ['default', 'settings', 'delete'])

			- allow('user', 'myAccount')

			- allow('admin', 'buyout')
			- allow('admin', 'categories')
			- allow('admin', 'dashboard')
			- allow('admin', 'discounts')
			- allow('admin', 'groups')
			- allow('admin', 'orders')
			- allow('admin', 'pages')
			- allow('admin', 'parameters')
			- allow('admin', 'producers')
			- allow('admin', 'products')
			- allow('admin', 'question')
			- allow('admin', 'settings')
			- allow('admin', 'signs')
			- allow('admin', 'users')

			- deny('admin', 'pages', 'delete') # pages can be link to template, only superadmin can delete

			- allow('superadmin') # Full access for superadmin
