
<div n:snippet="form" class="form-snippet">
	{ifset $success}
		<p>{_'newsletter.subscribeControl.success'}</p>
	{else}
		{form form}
			<div class="input-group" data-target-loading="request-form-loading">
				<input n:name="email" class="form-control no-live-validation">
				<span class="input-group-btn">
					{button subscribe, class=> "btn btn-primary"}{caption}{/button}
				</span>
			</div>
		{/form}
	{/ifset}
</div>