{block breadcrumbItems}
<li><a n:href="MyAccount:">{_'My Account'}</a></li>
<li class="active">{_'Account'}</li>
{/block}

{block content}
<div class="container">
	<div class="row">

		{include 'navigation.latte'}

		<!-- BEGIN CONTENT -->
		<div class="col-md-9 col-sm-7">
            <h1>{_'My Social Connection'}</h1>
			{control connect}
		</div>
		<!-- END CONTENT -->
	</div>
</div>
