{block breadcrumbItems}
<li><a n:href="MyAccount:">{_'My Account'}</a></li>
<li class="active">{_'Change Password'}</li>
{/block}

{block content}
<div class="container">
	<div class="row">

		{include 'navigation.latte'}

		<!-- BEGIN CONTENT -->
		<div class="col-md-9 col-sm-7">
            <h1>{_'Change Password'}</h1>
            <div class="content-page">
				{control setPassword}
            </div>
		</div>
		<!-- END CONTENT -->
	</div>
</div>
