doctrine:
	host: localhost
	user: user
	password: pasword
	dbname: dbname

facebook:
	appId: "app_id"
	appSecret: "app_secret"

twitter:
	consumerKey: 'consumer_key'
	consumerSecretKey: 'secret_key'

gpwebpay:
    privateKey: '../key/test.pem'
    privateKeyPassword: 'mobil'
    publicKey: '../key/gpe.signing_test.pem'
    url: 'https://test.3dsecure.gpwebpay.com/csobsk/order.do'
    merchantNumber: 3082563
# Testovací karta: 5434021016824014
# Expiry: 12/2020
# Password: secret3
# CVC2: 483

installer:
	lock: on # při TRUE zamyká instalaci po spuštění, pak je potřeba odmazat temp/install pro novou instalaci
	doctrine: off # aktualizuje DB podle entit
	initUsers: 
		user_mail: ['password', 'name_of_role']
#	adminer: off # instaluje potřebná nastavení pro adminer - na SERVERU je potřeba ověřit funkčnost (používá chmod)
#	composer: off # spouští composer - NEPOUŽÍVAT na serveru (spouští shell_exec)

nette:
	mailer:
		smtp: off # při FALSE využívá mail(); při TRUE je potřeba nastavit údaje
#		host: smtp.gmail.com
#		secure: ssl
#		username: user@gmail.com
#		password: heslo

# Při zakomentování bloku nette:mailer: je možné využít MailPanel níže
#nette:
#	debugger:
#		bar:
#			- JanDrabek\MailPanel\MailPanel
#services:
#	nette.mailer: JanDrabek\MailPanel\SessionMailer

settings:
	modules:
		cron:
			enabled: on
			allowedIps: ['127.0.0.1']
		categories:
			enabled: on
			expandOnlyActiveCategories: on
			maxDeep: 4
		signs:
			enabled: on
			values:
				new: 1
				sale: 2
				top: 3
		service:
			enabled: on
			pageId: 3
		buyout:
			enabled: on
			pageId: 4
	pageInfo:
		projectName: My Project
		author: author
		description: description
	pageConfig:
		itemsPerRow: 3
		rowsPerPage: 3
	companyInfo:
		address:
			company: 'Grifin s.r.o.'
			street: 'Hviezdoslavova 14'
			zip: '010 01'
			city: 'Žilina'
		contact:
			phone: '+421 908 84 84 84'
			email: 'obchod@mobilnetelefony.sk'
			phone2: '+421 908 78 00 62'
			email2: 'servis@mobilnetelefony.sk'
		bank:
			cz: 'CZ3108000000003627894339'
			sk: 'SK0475000000004020234814'
		company:
			ico: '45654433'
			dic: 'SK2023102268'
	expiration:
		remember: 14 days
		notRemember: 30 minutes
	design:
		color: default
		headerFixed: on
		containerBgSolid: on
	passwords:
		minLength: 5
