doctrine:
	host: localhost
	user: user
	password: user
	dbname: mt

facebook:
	appId: '842365949188917'
	appSecret: '3af671f94c5a079c7fd2a6080f71d3a7'

twitter:
	consumerKey: 'consumer_key'
	consumerSecretKey: 'secret_key'

gpwebpay:
    privateKey: '../key/test.pem'
    privateKeyPassword: 'mobil'
    publicKey: '../key/gpe.signing_test.pem'
    url: 'https://test.3dsecure.gpwebpay.com/csobsk/order.do'
    merchantNumber: 3082563

installer:
	lock: off
	doctrine: on
	adminer: on
	composer: on
	initUsers: 
		admin: ['admin', 'admin']

nette:
	mailer:
		smtp: off
