producer:
	contactShop:
	    name: 'Your Name'
	    mail: 'Your Mail'
	    phone: 'Your Phone'
	    message: 'Your message'
	    send: 'Send'
	    validator:
	        mail: 'Fill your mail'
	        message:
	            fill: 'Fill message'
	            min: 'Insert at least %d chars'
recommend:
	to: 'To'
	message: 'Message'
	send: 'Send'
	verification:
		mail:
			fill: 'Please enter e-mail'
			format: 'Fill right e-mail format'
		message:
			fill: 'Please enter message'