admin:
	sidebar:
		newsletter: 'Newsletter'
		subscribers: 'Odběratelé'

	newsletter:
		default:
			title: 'Newsletter'

	subscriber:
		default:
			title: 'Odběratelé'

		grid:
			all: 'vše'
			addSubscriber: 'Přidat odběratele'
			title: 'Přehled odběratelů'
			header:
				id: 'ID #'
				email: 'E-mail'
				subscribed: 'Přihlášeno'
				ip: 'IP'
				type: 'Typ'
				locale: 'Jazyk'
			types:
				user: 'uživatel'
				dealer: 'dealer'
				unknown: 'neznámý'

subscribeControl:
	label: 'E-mail'
	placeholder: 'Zadejte váš e-mail'
	submit: 'Přihlásit'
	success: 'Odběr úspěšně přihlášen.'

presenter:
	success: 'Odhlášení z odběru proběhlo úspěšně!'
	tokenNotMatch: 'Token pro odhlášení se neshoduje s e-mailem!'
	template:
		h1: 'Odhlásit odběr novinek'

unsubscribeForm:
	label: 'E-mail'
	submit: 'Odhlásit odběr'
	emailSent: 'Poslali jsme vám potvrzovací e-mail. Přejděte do schránky.'

messages:
	unsubscribe:
		subject: 'Odhlášení odběru novinek'
	handleDelete:
		notFound: 'Odběratel s ID %id% nebyl nalezen.'
		success: 'Odběratel "%email%" byl úspěšně smazán.'