admin:
	sidebar:
		newsletter: 'Newsletter'
		subscribers: 'Subscribers'

	newsletter:
		default:
			title: 'Newsletter'
		new:
			title: 'Compose message'
			counter:
				pre: "It's going to be sent"
				post: 'messages!'
		grid:
			all: 'all'
			createMessage: 'Create message'
			title: 'List of messages'
			header:
				subject: 'Subject'
				created: 'Created'
				type: 'Recipients'
				locale: 'Language'
				status: 'Status'
				stats: 'Number of sent'
			types:
				users: 'users'
				dealers: 'dealers'
			status:
				running: 'running'
				paused: 'paused'
				sent: 'sent'
				unknown: 'unknown'
			action:
				pause: 'Pause'
				run: 'Run'
		form:
			all: 'all'
			subject: 'Subject'
			content: 'Body'
			recipients: 'Recipients'
			groups: 'Groups'
			users: 'users'
			dealers: 'dealers'
			locale: 'Locale'
			testEmail: 'E-mail for test'
			send: 'Send'
			sendTest: 'Send test'

	subscriber:
		default:
			title: 'Subscribers'
		add:
			title: 'Add subscriber'
		grid:
			all: 'all'
			addSubscriber: 'Add subscriber'
			title: 'List of subscribers'
			header:
				id: 'ID #'
				email: 'E-mail'
				subscribed: 'Subscribed'
				ip: 'IP'
				type: 'Type'
				locale: 'Locale'
			types:
				user: 'user'
				dealer: 'dealer'
				unknown: 'unknown'

subscribeControl:
	label: 'E-mail'
	placeholder: 'Enter your e-mail'
	submit: 'Subscribe'
	success: 'Newsletter succesfully subscribed.'

presenter:
	success: 'Newsletter successfully unsubscribed!'
	tokenNotMatch: 'Unsubscribtion token do not match to e-mail address!'
	template:
		h1: 'Unsubscribe newsletter'

unsubscribeForm:
	label: 'E-mail'
	submit: 'Unsubscribe'
	emailSent: 'We have sent you an confirmation e-mail.'

messages:
	unsubscribe:
		subject: 'Unsubscribe newsletter'
	handleDelete:
		notFound: 'Subscriber with ID %id% was not found.'
		success: 'Subscriber "%email%" was succesfully deleted.'
	addSubscriber:
		success: 'New subscriber has been saved successfully.'
		alreadyExists: 'Subscriber of this type and e-mail "%email%" already exists.'
	newMessage:
		testSuccess: 'Test e-mail has benn sent to address %recipient%!'
		queue: 'Messages has been put to a queue to be send.'

message:
	base:
		layout:
			unsubscribe: 'If you do not want get these e-mail, you can %ahref%unsubscribe</a>.'
			webview: 'View in browser'
		footer:
			address:
				alt: 'Address'
			contact:
				alt: 'Contact'
				label: 'Need help?'
			bank:
				alt: 'Info'
				label:
					sk: 'Bank connection for SK'
					cz: 'Bank connection for CZ'