{snippet productFilter}
	{form filterForm}
		{? $form->render('begin')}
		<h3>{_'Availability'}</h3>
		<div class="checkbox-list">
			{input availability}
		</div>

		<h3>{_'Price'}</h3>
		<p>
			{label price /}
			{input price, class => '', style => 'border:0; color:#767F88;'}
		</p>
		<div id="slider-range" data-for="{$form['price']->getControlPrototype()->id}"></div>

		{? $form->render('end')}
	{/form}

{/snippet}
