{snippet productSorting}
	{if count($stocks)}
		{form sortingForm}
			{? $form->render('begin')}

			<ul class="category-selections clearfix">
				<li n:foreach="$form->getComponents() as $name => $component"
						n:if="$component instanceof Nette\Forms\Controls\SelectBox">
					{label $form[$name] class => 'category-selections-sign'/}
					{input $form[$name] class => 'category-selections-select'}
				</li>
			</ul>
			{? $form->render('end')}
		{/form}
	{/if}
{/snippet}
