{snippet productSorting}
	<label class="control-label">{_'Sort By'}:</label>
	<select class="form-control input-sm">
		<option value="default" selected="selected">{_'Default'}</option>
		<option value="name_asc">{_'Name (A - Z)'}</option>
		<option value="name_desc">{_'Name (Z - A)'}</option>
		<option value="price_asc">{_'Price (Low > High)'}</option>
		<option value="price_desc">{_'Price (High > Low)'}</option>
	</select>
{/snippet}
