{layout none}
{contentType application/xml}
<?xml version="1.0" encoding="utf-8"?>
<rsp:responsePack
    id="{!= time()}" 
    version="2.0" 
    state="{$state}" 
    note="{ifset $message}{$message}{/ifset}" 
    programVersion="PohodaConnector API" 
    xmlns:rsp="http://www.stormware.cz/schema/version_2/response.xsd" 
    xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 
    xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd" 
    xmlns:lst="http://www.stormware.cz/schema/version_2/list.xsd" 
    xmlns:lStk="http://www.stormware.cz/schema/version_2/list_stock.xsd" 
    xmlns:lAdb="http://www.stormware.cz/schema/version_2/list_addBook.xsd" 
    xmlns:acu="http://www.stormware.cz/schema/version_2/accountingunit.xsd" 
    xmlns:inv="http://www.stormware.cz/schema/version_2/invoice.xsd" 
    xmlns:vch="http://www.stormware.cz/schema/version_2/voucher.xsd" 
    xmlns:int="http://www.stormware.cz/schema/version_2/intDoc.xsd" 
    xmlns:stk="http://www.stormware.cz/schema/version_2/stock.xsd" 
    xmlns:ord="http://www.stormware.cz/schema/version_2/order.xsd" 
    xmlns:ofr="http://www.stormware.cz/schema/version_2/offer.xsd" 
    xmlns:enq="http://www.stormware.cz/schema/version_2/enquiry.xsd" 
    xmlns:vyd="http://www.stormware.cz/schema/version_2/vydejka.xsd" 
    xmlns:pri="http://www.stormware.cz/schema/version_2/prijemka.xsd" 
    xmlns:bal="http://www.stormware.cz/schema/version_2/balance.xsd" 
    xmlns:pre="http://www.stormware.cz/schema/version_2/prevodka.xsd" 
    xmlns:vyr="http://www.stormware.cz/schema/version_2/vyroba.xsd" 
    xmlns:pro="http://www.stormware.cz/schema/version_2/prodejka.xsd" 
    xmlns:con="http://www.stormware.cz/schema/version_2/contract.xsd" 
    xmlns:adb="http://www.stormware.cz/schema/version_2/addressbook.xsd" 
    xmlns:prm="http://www.stormware.cz/schema/version_2/parameter.xsd" 
    xmlns:lCon="http://www.stormware.cz/schema/version_2/list_contract.xsd" 
    xmlns:ctg="http://www.stormware.cz/schema/version_2/category.xsd" 
    xmlns:ipm="http://www.stormware.cz/schema/version_2/intParam.xsd">
    <rsp:responsePackItem 
        id="{!= time()}" 
        version="2.0" 
        state="{$state}">
        <stk:stockItemResponse 
            version="2.0" 
            state="{$state}">
        </stk:stockItemResponse>
    </rsp:responsePackItem>
</rsp:responsePack>