# Components
modelQuestion:
	input:
		price: 'Základní cena'
		question: 'Otázka'
		answer: 'Odpověď č.%number%'
		yes: 'Ano'
		no: 'Ne'
		save: 'Uložit'
		add: 'Přidat'
	required:
		price: 'Zadejte výkupní cenu!'
	notSelect: '--- Nevyplněno ---'

request:
	input:
		yes: 'Ano'
		no: 'Ne'
		email: 'E-mail'
		fullname: 'Jméno a příjmení'
		phone: 'Telefon'
		message: 'Zpráva'
		send: 'Souhlasím s cenou'
		placeholder:
			message: 'Vložte případné doplňující informace'
	page:
		questions: 'Výkupní otázky'
		questionsDescribe: 'Odpovězte tyto otázky a zobrazí se Vám výkupní cena'
		sellUsPhone: 'Prodejte nám Váš telefon'
		usedPhonePrice: 'Navrhovaná cena výkupu'
		newPhonePrice: 'Nový telefon %name% vykoupíme za cenu'
		ifAgree: 'Pokud je naše navrhovaná cena výkupu pro Vás přijatelná, tak telefon vykoupíme.'
		fillForm: 'Vyplňte formulář níže a budeme Vás kontaktovat.'
	required:
		fullname: 'Zadejte své jméno a příjmení'
		email: 'Zadejte svůj e-mail'
	template:
		price: 'Výkupní cena'
		total: 'Celková cena'
		new: 'Nový'
		used: 'Používaný'

# E-mail messages
email:
	their:
		subject: 'Požadavek na výkup telefonu'
		template:
			subtitle: 'Výkup z e-shopu'
			from: 'Vaše údaje'
			phone: 'Telefon'
	our:
		subject: 'Požadavek na výkup telefonu'
		template:
			subtitle: 'Výkup z e-shopu'
			from: 'Zákazník'
			phone: 'Telefon'
	template:
		model: 'Model' 
		summary: 'Výkupní cena'
		state: 'Stav'
		new: 'Nový'
		used: 'Používaný'
		answer:
			y: 'Ano'
			n: 'Ne'