# Components
modelQuestion:
	input:
		price: 'Basic Price'
		question: 'Question'
		answer: 'Answer #%number%'
		yes: 'Yes'
		no: 'No'
		save: 'Save'
		add: 'Add'
	required:
		price: 'Enter buyout price!'
	notSelect: '--- Not filled ---'

request:
	input:
		yes: 'Yes'
		no: 'No'
		email: 'E-mail'
		fullname: 'Full name'
		phone: 'Phone'
		message: 'Message'
		send: 'Agree with price'
		placeholder:
			message: 'Optionaly insert additional informations'
	page:
		questions: 'Buyout questions'
		questionsDescribe: 'Aswer for this questions and we show You buyout price'
		sellUsPhone: 'Sell us Your phone'
		usedPhonePrice: 'Suggested price of buyout'
		newPhonePrice: 'New phone %name% we can buy for price'
		ifAgree: 'If you agree with price then we can buy your phone.'
		fillForm: 'Fill form bellow and we will contact you.'
	required:
		fullname: 'Enter your first name and last name'
		email: 'Enter your e-mail'
	template:
		price: 'Buyout price'
		total: 'Total price'
		new: 'New'
		used: 'Used'

# E-mail messages
email:
	their:
		subject: 'Buyout request'
		template:
			subtitle: 'Buyout from e-shop'
			from: 'Your details'
			phone: 'Phone'
	our:
		subject: 'Buyout request'
		template:
			subtitle: 'Buyout from e-shop'
			from: 'Customer'
			phone: 'Phone'
	template:
		model: 'Model' 
		summary: 'Buyout price'
		state: 'State'
		new: 'New'
		used: 'Used'
		answer:
			y: 'Yes'
			n: 'No'