# Components
modelQuestion:
	input:
		price: 'Základná cena'
		question: 'Otázka'
		yes: 'Áno'
		no: 'Nie'
		save: 'Uložiť'
		add: 'Pridať'
	required:
		price: 'Zadajte výkupnú cenu!'

request:
	input:
		yes: 'Áno'
		no: 'Nie'
		email: 'E-mail'
		fullname: 'Meno a priezvisko'
		recapculate: 'Prepočítať'
		send: 'Súhlasím s cenou'
	required:
		fullname: 'Zadajte svoje meno a priezvisko'
		email: 'Zadajte svoj e-mail'
	template:
		price: 'Výkupná cena'
		total: 'Celková cena'
		new: 'Nový'
		used: 'Používaný'

# E-mail messages
email:
	their:
		subject: 'Požiadavka na výkup telefónu'
		template:
			subtitle: 'Výkup z e-shopu'
			from: 'Vaše údaje'
	our:
		subject: 'Požiadavka na výkup telefónu'
		template:
			subtitle: 'Výkup z e-shopu'
			from: 'Zákazník'
	template:
		model: 'Model' 
		summary: 'Výkupná cena'
		state: 'Stav'
		new: 'Nový'
		used: 'Používaný'
		answer:
			y: 'Áno'
			n: 'Nie'