heureka:
	categoryText: 'Heureka.cz | Elektronika | Mobily, GPS | Mobilní telefony'
	payments:
		shipping:
			czech_post: 'CESKA_POSTA'
			slovak_post: 'SLOVENSKA_POSTA'
			dpd: 'DPD'
			ppl: 'PPL'
zbozi:
    categoryText: 'Telefony, navigace | Mobilní telefony'