{block breadcrumb}{/block}
{block content}

<div class="col-md-12 col-sm-12">
	<h1>{_'Forgot Your Password?'}</h1>

	<div class="content-form-page">
		<div class="row">
			<div class="col-md-6 col-sm-10">
				<p>
					{_'Enter your e-mail address below to set new one.'}
				</p>
				{control forgotten:login}
			</div>
		</div>
	</div>
</div>


