{block breadcrumb}{/block}
{block content}

<header class="page-header">
	<h1 class="page-title">{_'Forgot Your Password?'}</h1>
</header>

<div class="row">
	<div class="col-md-9">
		<p class="lead">{_'Enter your e-mail address below to set new one.'}</p>
	</div>
</div>
<div class="row" data-gutter="60">
	<div class="col-md-5">
		{control forgotten}
	</div>
</div>


