{block breadcrumb}{/block}
{block content}

<div class="col-md-12 col-sm-12">
	<h1>{_'Password recovery'}</h1>

	<div class="content-form-page">
		<div class="row">
			<div class="col-md-6 col-sm-10">
				<p>
					{_'Enter a new password to your account.'}:
				</p>
				{control recovery:login}
			</div>
		</div>
	</div>
</div>
