product:
	onlyCountOnStore: 'Skladem je pouze %count% kus.|Skladem jsou pouze %count% kusy.|Skladem je pouze %count% kusů.'
	alreadyInBasket: 'V košíku je již %count% kus.|V košíku jsou již %count% kusy.|V košíku je již %count% kusů.'
	youCanAddOnly: 'Můžete přidat pouze %count% kus.|Můžete přidat pouze %count% kusy.|Můžete přidat pouze %count% kusů.'
	youCannotAdd: 'Nelze přidat další.'