prefooter:
	freeShipping: 'Free shipping'
	whenBuyOver: 'when buying over'
	extraGifts: 'Extra Gifts'
	freeGiftsForSelectedProducts: 'Free gifts for selected products'
	orderByPhone: 'Order by phone'
