{includeblock '../categories.latte'}

{block breadcrumbItems}
	<li class="active">
		<span>{$page}</span>
	</li>
{/block}

{block content}
<div class="row">
	<!-- BEGIN SIDEBAR -->
	<div class="col-md-3">
		{include categories}
	</div>
	<!-- END SIDEBAR -->

	<!-- BEGIN CONTENT -->
	<div class="col-md-9">
		<h1>{$page}</h1>
		<div class="content-page">
			<div class="page-html-content">
				{$page->html|noescape}
			</div>
		</div>
	</div>
	<!-- END CONTENT -->
</div>
