{block bodyClass}page-lock{/block}

{block content}
<div class="page-body">
	<div class="lock-head">
		{_'Locked'}
	</div>
	<div class="lock-body">
		<div class="pull-left lock-avatar-block">
			<img src="{$basePath}/assets/admin/img/avatar.png" class="lock-avatar">
		</div>
		{control signIn:lock}
	</div>
	<div class="lock-bottom">
		<a n:href="Sign:in">{_'Not'} {$loggedUser}?</a>
	</div>
</div>
