subject:
	forgotten: 'Zabudnuté heslo'
	createRegistration: 'Vaša registrácia'
	verify: 'Overenie e-mailu'
	changeStateOrder: 'Vaša objednávka č.%id%'
	createOrder: 'Vaša objednávka č.%id%'
	createOrderShop: 'Nová objednávka č.%id%'
order:
	salutation: 'Vážený zákazník'
	headline: 'Objednávka č.%number%'
	weWillInformYou: 'O ďalšom postupe vašej objednávky vás budeme informovať e-mailom.'
	shopNotice: 'Na vašom webe %name% je nová objednávka.'
	pinCode: 'Objednávke bol pridelený PIN: %pin%'
	change:
		done:
			successfullyCompleted: 'Vaša objednávka bola úspešne dokončená.'
			lookingForward: 'Tešíme sa na váš ďalší nákup.'
		storno:
			wasCanceled: 'Vaša objednávka bola zrušená.'
			contactUs: 'V prípade akejkoľvek nezrovnalosti nás prosím ihneď kontaktujte.'
		expeded:
			hasBeenExpeded: 'Vaša objednávka bola expedovaná.'
	new:
		recieved: 'ďakujeme Vám za Váš nákup, práve sme prijali vašu objednávku.'
