# E-mail messages
email:
	their:
		subject: 'Požiadavka na servis telefónu'
		template:
			subtitle: 'Servis z e-shopu'
			from: 'Vaše údaje'
			phone: 'Telefon'
	our:
		subject: 'Požiadavka na servis telefónu'
		template:
			subtitle: 'Servis z e-shopu'
			from: 'Zákazník'
			phone: 'Telefon'
	template:
		model: 'Model'