.content-form-page select.form-control {
	border-color: #DBDBDB;
	color: #AAA;
	font: 14px Arial, sans-serif;
}

.portlet > .portlet-title > .actions .btn-icon-only {
	height: 27px;
	width: 27px;
}

.pagination .btn {
	font-size: 13px;
}

.ecommerce .header-navigation > ul > li > a {
	font-size: 15px;
}