{includeblock 'blocks.latte'}

{block breadcrumb}{/block}

{block content}

<div class="container">
	{include steps}

	<!-- BEGIN CONTENT -->
	<div class="row margin-bottom-40">
		<div class="col-md-12 col-sm-12">
			<div id="payment-shipping" class="panel panel-default">
				<div class="panel-body row">
					{control payments}
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->
</div>