{includeblock 'blocks.latte'}

{block breadcrumb}{/block}

{block content}

<div class="container">
	{include steps}

	<!-- BEGIN CONTENT -->
	<div class="row margin-bottom-40">
		<div class="col-md-12 col-sm-12">
			<div class="cart-page">
				<div class="cart-content summary-data goods-data">
					<fieldset class="adresses">
						<legend>{_'cart.headline.summary'}</legend>
						<div class="row">
							<div class="col-md-4 col-sm-6 block" n:if="$basket->needAddress() && $basket->billingAddress">
								<h5>{_'cart.order.invoiceAddress'}</h5>
								<p>
									{$basket->billingAddress->format()|noescape}
								</p>
							</div>
							<div class="col-md-4 col-sm-6 block" n:if="$basket->needAddress() && $basket->shippingAddress">
								<h5>{_'cart.order.shippingAddress'}</h5>
								<p>
									{$basket->shippingAddress->format()|noescape}
								</p>
							</div>
							<div class="col-md-4 col-sm-6 block">
								<h5>{_'cart.order.contact'}</h5>
								<p>
									{_'Phone'}: {$basket->basket->phone}<br/>
									{_'Mail'}: {$basket->basket->mail}
								</p>
							</div>
						</div>
					</fieldset>

					<div class="table-wrapper-responsive">
						<table summary="Shopping cart">
							<tr>
								<th class="goods-page-description" colspan="2">{_'cart.name'}</th>
								<th class="goods-page-quantity">{_'cart.quantity'}</th>
								<th class="goods-page-price">{_'cart.unitPrice'}</th>
								<th class="goods-page-vat">{_'cart.vat'}</th>
								<th class="goods-page-total">{_'cart.total'}</th>
							</tr>
							{foreach $basket->items as $item}
								{var stock => $item->stock}
								{var product => $stock->product}
								<tr>
									<td class="goods-page-image">
										<a href="{plink Product: 'id' => $stock->getUrlId(), 'slug' => $stock->getSlug()}">
											<img src="{$basePath}/foto/{$product->image|size:100}" alt="{$product}"/>
										</a>
									</td>
									<td class="goods-page-description">
										<h3><a href="{plink Product: 'id' => $stock->getUrlId(), 'slug' => $stock->getSlug()}">{$product->name}</a></h3>
										<p>
											<strong>{_'cart.inStore'}:</strong> {$stock->inStore} {$product->unit}
										</p>
									</td>
									<td class="goods-page-quantity">
										<strong>{$item->quantity}x</strong>
									</td>
									<td class="goods-page-price">
										<strong>{$stock->getPrice($priceLevel)|currencyVat}</strong>
									</td>
									<td class="goods-page-vat">
										<strong>{$stock->vat}</strong>
									</td>
									<td class="goods-page-total">
										<strong>{$item->getTotalPrice($exchange, $priceLevel)|asCurrency:TRUE}</strong>
									</td>
								</tr>
							{/foreach}
							{var productsTotalWith => $basket->getProductsTotalPrice($priceLevel)}
							{foreach $basket->vouchers as $voucher}
								<tr>
									<td class="goods-page-image">
										<img src="{$basePath}/images/logo/logo_cart.png" alt="logo"/>
									</td>
									<td class="goods-page-description">
										<h3>{_'Discount'} - {$voucher->code}</h3>
									</td>
									<td class="goods-page-quantity">
										<strong>1x</strong>
									</td>
									<td class="goods-page-price">
										<strong>-{$voucher->getValueString($currencySymbol, $exchange)}</strong>
									</td>
									<td class="goods-page-vat">
									</td>
									<td class="goods-page-total">
										<strong>-{$voucher->getDiscountValue($productsTotalWith, $exchange)|asCurrency:TRUE}</strong>
									</td>
								</tr>
							{/foreach}
							<tr>
								<td class="goods-page-image">
									<img src="{$basePath}/images/logo/logo_cart.png" alt="logo"/>
								</td>
								<td class="goods-page-description">
									<h3>{_'Shipping'}: {_$basket->shipping}</h3>
								</td>
								<td class="goods-page-quantity">
									<strong>1x</strong>
								</td>
								<td class="goods-page-price">
									<strong>{$basket->getShippingPrice($priceLevel)|currencyVat}</strong>
								</td>
								<td class="goods-page-vat">
									<strong>{$basket->shipping->vat}</strong>
								</td>
								<td class="goods-page-total">
									<strong>{$basket->getShippingPrice($priceLevel)|currencyVat}</strong>
								</td>
							</tr>
							<tr>
								<td class="goods-page-image">
									<img src="{$basePath}/images/logo/logo_cart.png" alt="logo"/>
								</td>
								<td class="goods-page-description">
									<h3>{_'Payment'}: {_$basket->payment}</h3>
								</td>
								<td class="goods-page-quantity">
									<strong>1x</strong>
								</td>
								<td class="goods-page-price">
									<strong>{$basket->getPaymentPrice($priceLevel)|currencyVat}</strong>
								</td>
								<td class="goods-page-vat">
									<strong>{$basket->payment->vat}</strong>
								</td>
								<td class="goods-page-total">
									<strong>{$basket->getPaymentPrice($priceLevel)|currencyVat}</strong>
								</td>
							</tr>
						</table>
					</div>

					<div class="shopping-total">
						<ul>
							<li>
								<em>{_'cart.withoutVat'}</em>
								<strong class="price">
									{$basket->getTotalPrice($priceLevel, FALSE)|asCurrency:TRUE}
								</strong>
							</li>
							<li>
								<em>{_'cart.vat'}</em>
								<strong class="price">
									{$basket->getVatSum($priceLevel)|asCurrency:TRUE}
								</strong>
							</li>
							<li>
								<em>{_'cart.totalVat'}</em>
								<strong class="price">
									{$basket->getTotalPrice($priceLevel)|asCurrency:TRUE}
								</strong>
							</li>
							<li>
								{if $basket->hasVouchers()}
									<em>{_'cart.discount'}</em>
									<strong class="price discount">
										-{$basket->getDiscountsTotalPrice($priceLevel)|asCurrency:TRUE}
									</strong>
								{/if}
							</li>
							<li class="shopping-total-price">
								<em>{_'cart.total'}</em>
								<strong class="price">
									{$basket->getTotalPriceToPay($priceLevel)|asCurrency:TRUE}
								</strong>
							</li>
						</ul>
					</div>
				</div>
				<div class="row cart-continue">
					<div class="col-sm-12 agreement">
						{_'cart.agreement', ['link' => $termsLink]|noescape}
					</div>
					<div class="col-md-6 col-sm-6">
						<a n:href="address" class="btn">
							<i class="fa fa-chevron-left"></i>
							&nbsp;
							{_'cart.back'}
						</a>
					</div>
					<a n:href="send!" class="btn btn-primary">
						<i class="fa fa-check"></i>
						{if $directPayment}
							{_'cart.pay'}
						{else}
							{_'cart.finish'}
						{/if}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
</div>