{layout none}
{contentType application/xml}
<?xml version="1.0" encoding="utf-8"?>

<dat:dataPack 
    id="{!= time()}" 
    application="PohodaConnector API" 
    version="2.0" 
    xmlns:dat="http://www.stormware.cz/schema/version_2/data.xsd" 
    xmlns:stk="http://www.stormware.cz/schema/version_2/stock.xsd" 
    xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
    xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
    >	
</dat:dataPack>