@import "../definitions.less";

.form-horizontal {
	input.text.form-control {
		display: inline;
	}
	span.help-block {
		display: inline;
		padding-left: 5px;
	}
}

#signInModal {
	.modal-body {
		#frm-signInModal-form {
			button {
				margin-left: 15px;
			}
		}
	}
	.modal-footer {
		text-align: center;
		.login-socio {
			.social-icons {
				margin: 0 auto;
				width: 80px;
				li {
					padding-left: 5px;
					padding-right: 0px;
					border-right: none;
				}
			}
		}
	}
}

.sidebar-filter {
	.subcategories {
		margin-bottom: 10px;
	}
	#snippet-products-productFilter {
		.filter-div {
			padding-top: 10px;
		}
		.form-group {
			margin-bottom: 0px;
		}
	}
	.available {
		padding-top: 9px;
		padding-right: 0px;
		.checkbox {
			margin-bottom: 0px;
		}
	}
	.more {
		padding-top: 10px;
	}
}

.panel {
	dl {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		dt {
			float: left;
			clear: left;
			width: 100px;
		}
	}
}

.buyout {
	.is-new-question {
		a {
			display: inline-block;
			width: 49%;
			line-height: 40px;
			color: #999;
			text-decoration: none;
			text-align: center;
			background-color: #eee;
			&:hover, &.active {
				background-color: #4378C1;
				color: white;
			}
		}
		margin-bottom: 20px;
	}
	.is-new-checker, .part-price {
		display: none;
	}
	.question-block {
		display: none;
		.form-group {
			margin-bottom: 0px;
		}
	}
}

.product-page {
	.social-icons {
		float: left;
	}
	.recommend {
		display: inline-block;
		line-height: 28px;
	}
}