.main { 
	.container {
		position: relative;
	}
}

.sidebanner {
	width: 177px;
	height: 630px;
	position: absolute;
	top: 0px;
	&.left {
		left: -177px;
	}
	&.right {
		right: -177px;
	}
	&.style-diry {
		background: transparent url('../images/sidebanner/diry.png');
	}
}

@media (max-width: 1541px) {
	.sidebanner {
		display: none;
	}
}