{block pageTitle}
	{_'Products'}
{/block}

{block breadcrumbItems}
<li><span>{_'Products'}</span></li>
{/block}

{block content}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box">
			<ul class="list-group">
				<li class="list-group-item"
					n:foreach="$products as $product">{? $product->setCurrentLocale($lang)}
					{$product} | {$product->price}
				</li>
			</ul>
		</div>
	</div>
</div>