{block pageTitle}
	{_'Products'}
{/block}

{block breadcrumbItems}
<li><span>{_'Products'}</span></li>
{/block}

{block content}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box">
			<div class="portlet-body">
				<a n:href="create!">Create Product</a>
			</div>
		</div>
	</div>
</div>