{layout none}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">
		{_'Prices for "%name%"', NULL, ['name' => $stock->product]}
	</h4>
</div>
<div class="modal-body">
	{control stockPriceForm}
</div>