{block content}

<a n:href="editPrices 107277" data-toggle="modal" data-target="#editPrice">test</a>

<div class="modal fade ajax" id="editPrice" aria-hidden="true">
	<div class="page-loading page-loading-boxed">
		<img src="{$basePath}/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
		<span>&nbsp;&nbsp;{_'Loading...'} </span>
	</div>
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>