{snippet stockPrint}
	<div class="product" id="{$id}">
		{*{foreach $flashes as $flash}*}
		{*<div class="alert alert-{$flash->type} alert-dismissable alert-auto-dismiss">*}
		{*<button type="button" class="close close-large" data-dismiss="alert" aria-hidden="true"></button>*}
		{*{$flash->message}*}
		{*</div>*}
		{*{/foreach}*}

		{var blockId => 'stockPrint' . $stock->id}
		{var product => $stock->product}
		{var countInBasket => $basket->getCountInBasket($stock)}

		<ul class="product-labels">
			<li n:if="$product->hasSign($newSign)">{_'New'}</li>
			<li n:if="$product->hasSign($saleSign)">{_'Sale'}</li>
			<li n:if="$countInBasket">
				<i class="fa fa-cart"></i>
				{$countInBasket}
			</li>
		</ul>
		<div n:class="$product->secondImage ? product-img-wrap : product-img-wrap-single">
			<img class="product-img-primary" src="{$basePath}/foto/{$product->image|size:300}"
				 alt="{$product}" title="{$product}"/>
			<img n:if="$product->secondImage" class="product-img-alt"
											  src="{$basePath}/foto/{$product->secondImage|size:300}"
											  alt="{$product}" title="{$product}"/>
		</div>
		<a class="product-link" href="{plink Product: 'id' => $stock->getUrlId(), 'slug' => $stock->getSlug()}"></a>
		<div class="product-caption">
			<h5 class="product-caption-title">
				{$product}
			</h5>
			<div class="row">
				<div class="col-lg-7 col-md-6 col-sm-12 col-xs-8 product-caption-price">
					<span class="product-caption-price-new">
						{$stock->getPrice($priceLevel)|currencyVat}
					</span>
					<span class="product-caption-price-old" n:if="$stock->oldPrice">
						{$stock->oldPrice|currency}
					</span>
				</div>
				<div class="col-md-5 col-md-6 col-sm-12 col-xs-4 product-caption-button text-right">
					<a n:href="addToCart!"
							n:class="btn, $stock->inStore ? btn-primary : btn-default, add2cart, !$basket->getCountAllowedToAdd($stock) ? disabled">{_'Add to cart'}</a>
				</div>
			</div>
			<div class="row">
				<div n:class="col-md-12, availability, $stock->inStore > 0 ? available">
					{if $stock->inStore > 10}
						<strong>{_'In Stock > %count% %unit%', 10, ['unit' => $product->unit]}</strong>
					{elseif $stock->inStore > 5}
						<strong>{_'In Stock > %count% %unit%', 5, ['unit' => $product->unit]}</strong>
					{elseif $stock->inStore > 0}
						<strong>{_'In Stock > %count% %unit%', $stock->inStore, ['unit' => $product->unit]}</strong>
					{else}
						<strong>{_'Temporarily Sold Out'}</strong>
					{/if}
				</div>
			</div>

		</div>
	</div>
{/snippet}