{snippet stockPrint}
	<div class="vertical {$mainClasses}" id="{$id}">
		{var blockId => 'stockPrint' . $stock->id}
		{var product => $stock->product}
		{var countInBasket => $basket->getCountInBasket($stock)}
		{var loadingSelector => '#mainContainer'}
		{var clickSelector => '#basket-dialog-caller'}

		<ul class="product-labels" n:if="$showLabels">
			<li n:if="$product->hasSign($newSign)" class="new">{$newSign}</li>
			<li n:if="$product->hasSign($topSign)" class="top">{$topSign}</li>
			<li n:if="$product->hasSign($specialSign)" class="special">{$specialSign}</li>
			<li n:if="$product->hasSign($saleSign)" class="sale">{$saleSign}</li>
		</ul>
		<ul class="product-labels right">
			<li n:if="$countInBasket">
				<i class="fa fa-shopping-cart"></i>
				{$countInBasket}x
			</li>
		</ul>

		<a class="product-link" href="{plink Product: 'id' => $stock->getUrlId(), 'slug' => $stock->getSlug()}"></a>

		<div class="product-caption">
			<div class="row">
				<div class="col-md-6">
					<img class="product-img" src="{$basePath}/foto/{$product->image|size:300}" alt="{$product}" title="{$product}"/>
				</div>
				<div class="col-md-6">
					<h5 class="product-caption-title">
						{$product}
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-8 product-caption-button text-center">
				</div>
				<div class="col-md-6 col-sm-12 col-xs-4 product-caption-price">
					<span class="product-caption-price-new">
						{$stock->getPrice($priceLevel)|currencyVat}
					</span>
					{*<a n:href="addToCart! $showLabels, $showSecondImage, $mainClasses"*}
							{*n:class="ajax, btn, $basket->getCountAllowedToAdd($stock) ? btn-primary : btn-default, add2cart, !$basket->getCountAllowedToAdd($stock) ? disabled"*}
							{*data-target-click="{$clickSelector}"*}
							{*data-target-loading="{$loadingSelector}"*}
							{*data-ajax-off="history">*}
						{*<span class="text">{_'Add to cart'}</span>*}
						{*<span class="icon fa fa-shopping-cart"></span>*}
					{*</a>*}
				</div>
			</div>
		</div>
	</div>
{/snippet}