{layout '../../@layout.latte'}

{block content}
<table class="container content" align="left" width="100%">
	<tr>
		<td>
			<table class="row note">
				<tr>
					<td class="wrapper last">
						<h4 style="font-size: 22px;display: block;margin: 5px 0 15px 0;">
							{_'Thank you for joining the %name%', NULL, ['name' => $projectName]}
						</h4>
						<p>
							{_'Your registration was successfull.'}
						</p>
						<br/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
