<div n:snippet="form" class="form-snippet">
	{ifset $success}
		<p>{_'newsletter.subscribeForm.success'}</p>
	{else}
		{form form}
			<div class="form-group">
				{label mail/}
				{input mail class=> 'newsletter-input form-control'}
			</div>
			{input subscribe class=> 'btn btn-primary'}
		{/form}
	{/ifset}
</div>