shipping:
	personal: 'Osobne'
	czech_post: 'Česká Pošta'
	slovak_post: 'Slovenská Pošta'
	dpd: 'DPD'
	ppl: 'PPL'
payment:
	personal: 'Osobne'
	on_delivery: 'Dobierkou'
	bank_account: 'Prevodom na účet vopred'

form:
	select: '--- bez zmeny ---'
