{layout '../../@layout.latte'}

{block content}
<table class="container content" align="center">
	<tr>
		<td>
			<table class="row note">
				<tr>
					<td class="wrapper last">
						{$message->content|noescape}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{/block}
