{block pageTitle}
	{_'Settings'}
{/block}

{block breadcrumbItems}
<li>
	<a n:href="Settings:">{_'Settings'}</a>
</li>
<li><span>{_'E-Shop'}</span></li>
{/block}

{block content}

<div class="row">
</div>
